# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Visual Studio Code
.vscode/

# User-specific files
*.rsuser
*.sln.docstates

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
.nuget/

# Entity Framework
*.edmx.diagram

# Rider
.idea/
*.sln.iml

# Mac
.DS_Store
.fake